.btn_color{
  background-color: blueviolet;
  color: white;
}

.btn_color:hover{
  background-color: white;
  color: blueviolet;
  border: 1px solid blueviolet;
}

.card_self{
  padding: 5%;
}

.img_size{
  margin: auto;
  width: 70%;
  height: 240px;
}